Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives: List of popular languages Commonly used libraries Data science tools

Some of the popular languages that Data Scientists use are: 1) Python 2) R 3) SQL 4) Java

Some of the commonly used libraries used by Data Scientists include: 1)Pandas 2)Numpy 3)TensorFlow 4)SciPy

Data Science Tools RStudio. Apache Spark. TensorFlow.

Below are a few examples of evaluating arithmetic expressions in Python 3+(5*5) 27/3

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

Author Upasana Chatterjee